{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-top">
		<div class="wrapper wrapper-sm">
			<h1>{{page.header.Header1}}</h1>
			{% if page.header.Paragraph is not empty %}
				<p>{{page.header.Paragraph}}</p>
			{% endif %}
		</div>
		<div class="image" style="background-image: url({{page.media[page.header.heroImage].url}})"></div>
	</section>
	<section class="section-about">
		<div class="wrapper wrapper-sm">
			{% for item in page.header.About %}
				<div class="col full">
					<div class="about-items">
						<div class="about-image">
	 						{{page.media[item.img].html()}}
						</div>
						<div class="about-content">
							<h3>{{item.title}}</h3>
							<p>{{item.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<section class="section-client">
		<div class="wrapper wrapper-sm">
			<h2 class="text-center">Our Happy Clients</h2>
			{% for item in page.header.Client %}
				<div class="col full">
					<div class="client-items">
						<div class="client-image">
	 						{{page.media[item.img].html()}}
						</div>
						<div class="client-content">
							<h3 class="text-center">{{item.title}}</h3>
							<p class="text-center">{{item.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}