{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero" style="background-image: url({{page.media[page.header.heroImage].url}})">
		<div class="overlay-hero"></div>
		<div class="wrapper wrapper-default">
			<img class="mobile-only" src="{{url("theme://images/logo.png")}}">
			<h1>{{page.header.HeroText1}}</h1>
			<section class="box-wrap">
				<div class="box-item">
					<h3>Find an Industry</h3>
					<p>Trade products in various industries all over the world. </p>
					<a href="" class="button">See our products</a>
				</div>
				<div class="box-item">
					<h3>Find an Industry</h3>
					<p>Trade products in various industries all over the world. </p>
					<a href="" class="button">See our products</a>
				</div>
			</section>
			<form class="box-wrap">
				<input type="text" name="name" placeholder="Name">
				<input type="text" name="email" placeholder="Email">
				<button class="button">Start a Project</button>
			</form>
		</div>
	</section>
	<section class="section-header">
		<h2 class="text-center">Find quality goods to buy and sell</h2>
	</section>
	<section class="section-services">
		<div class="wrapper wrapper-default">
			<div class="col">
				<div class="text-center">
					<i class="fa fa-globe" aria-hidden="true"></i>
					<h1>We are a global trading company and we help buyers find products all over the world</h1>
				</div>
				<section class="services-list">
				{% for item in page.header.Services %}
					<div class="services-item">
						{% if item.icon == "button" %}
							<h3 class="has-button">{{item.title}}</h3>
							{{item.description}}
							<a href="" class="button">Explore our showcase</a>
						{% else %}
							<i class="fa {{item.icon}}" aria-hidden="true"></i>
							<h3>{{item.title}}</h3>
							{{item.description}}
						{% endif %}
					</div>
				{% endfor %}
				</section>
			</div>
		</div>
	</section>
	<section class="section-contact">
		<div class="wrapper wrapper-default">
			<div class="col one-half sm-full md-full">
				<h2 class="text-center">US Import and Export, LLC</h2>
				<h3>
					We are a global trading company helping clients all over the world find suppliers for their goods.
				</h3>
			</div>
			<div class="col one-half sm-full md-full">
				<h2 class="text-center">Contact with us</h2>
				<form>
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<button class="button reverse">Send</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}