{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-title">
		<h1>Industries and Services</h1>
	</section>
	<section class="section-services">
		<div class="wrapper wrapper-default">
			<div class="col">
				<section class="box-wrap">
				{% for item in page.header.Services %}
					<div class="box-item">
						<h3>{{item.title}}</h3>
						<div class="inner-wrap">
							<div class="description">
								{{item.description}}
							</div>
							<div class="image">
								{{page.media[item.img].html()}}
							</div>
						</div>
						<div class="btn-wrap">
							<a href="" class="button">Start a project in {{item.title}}</a>
						</div>
					</div>
				{% endfor %}
				</section>
			</div>
		</div>
	</section>
	<section class="section-contact">
		<div class="wrapper wrapper-default">
			<div class="col one-half sm-full md-full">
				<h2 class="text-center">US Import and Export, LLC</h2>
				<h3>
					We are a global trading company helping clients all over the world find suppliers for their goods.
				</h3>
			</div>
			<div class="col one-half sm-full md-full">
				<h2 class="text-center">Contact with us</h2>
				<form>
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<button class="button reverse">Send</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}