.template-about
	.section-top
		margin-top: 80px

		h1
			margin-bottom: 0

		p
			font-size: 18px
			max-width: 70%

		.image
			width: 100%
			background-size: 100%
			background-position: center
			height: 500px
			margin-top: 20px

	.section-about
		.about-items
			padding: 20px 0
			display: flex

			.about-image
				flex: 1

				img
					width: 100%

			.about-content
				flex: 2
				padding-left: 20px

	.section-client
		margin-top: 20px

		.client-items
			padding: 20px 0
			display: flex
			flex-direction: column
			align-items: center

			.client-image
				width: 35%

				img
					width: 100%

			.client-content
				width: 80%
				padding-left: 20px

@media screen and (max-width: 768px)
	.template-about
		.section-top
			margin-top: 52px

			p
				max-width: 100%

			.image
				height: 290px
				background-size: cover

		.section-about
			.about-items
				flex-direction: column

				.about-content
					padding-left: 0

		.section-client
			.client-items
				.client-image
					width: 60%
				.client-content
					width: 100%
					padding-left: 0

@media screen and (min-width: 1600px)
	.template-about
		.section-top
			.image
				height: 650px