.section-hero
	padding: 50px 0
	background-size: 100%
	background-position: center
	margin-top: 129px
	position: relative

	.overlay-hero
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(126, 23, 8, 0.5)

	h1, h2
		color: $white
		margin-top: 0
		margin-bottom: 80px

.section-services
	margin-bottom: 30px
	margin-top: 30px

	i
		font-size: 120px

	.services-list
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		.services-item
			text-align: center
			width: 45%
			font-size: 18px
			margin-bottom: 10px

			i
				font-size: 70px

			.button
				display: block
				width: 200px
				margin: auto
				margin-top: 20px

			.has-button
				margin-top: 95px

.section-header
	background: $text-grey
	display: inline-block
	width: 100%

	h2
		color: $white

.section-contact
	background: $main

	.one-half
		box-sizing: border-box
		padding-right: 15px

		&:last-child
			padding-right: 0
			padding-left: 15px

	h2, h3
		color: $white

	form
		display: block
		padding-top: 0
		text-align: right

@media screen and (max-width: 768px)
	.section-hero
		margin-top: 0px
		padding: 30px 0
		padding-top: 50px
		background-size: cover

		img
			width: 100%
		
		h1
			margin-top: 25px
			margin-bottom: 15px

		.box-wrap
			padding: 0

			.box-item
				width: 100%
				margin-bottom: 15px

			input
				width: 100%

	.template-home
		.section-services
			margin-bottom: 0
			.wrapper
				width: 100%

				h1
					width: 90%
					margin: auto
					margin-bottom: 15px

				.services-list
					padding: 0 5%
					padding-bottom: 30px
					box-sizing: border-box
					display: flex
					flex-wrap: wrap
					background: $lighter-grey

					.services-item
						width: 100%

						.has-button
							margin-top: 30px

	.section-contact
		margin-bottom: 0

		form
			padding-bottom: 20px

		.one-half
			padding-right: 0px

			&:last-child
				padding-left: 0px