.template-services
	.box-wrap
		.box-item
			width: 47%
			margin-bottom: 30px
			box-shadow: 1px 1px 5px $text-grey

			.btn-wrap
				.button
					width: auto
					margin: auto
					margin-top: 15px
					display: inline-block

.box-wrap
	width: 100%
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	.box-item
		background: $white
		width: 43%
		box-sizing: border-box
		padding: 15px
		border-radius: 3px
		border-color: #e5e6e9 #dfe0e4 #d0d1d5
		box-shadow: 1px 1px 15px $text-grey

		h3
			margin-top: 0

		p
			font-size: 18px

		.inner-wrap
			display: flex

			.description
				flex: 1
				padding-right: 20px
				box-sizing: border-box
				float: left

			.image
				flex: 1
				float: left

				img
					display: block
					width: 100%

		.btn-wrap
			text-align: center

			.button
				display: block
				text-align: center
				width: 75%
				margin: auto
				border-width: 3px

	input
		width: 43%

	button
		width: 300px
		display: block
		margin: auto
		margin-top: 30px

@media screen and (max-width: 768px)

	.template-services
		.header .navigation i
			color: $white

		.section-title
			margin-top: 0
			
		.box-wrap
			.box-item
				width: 100%

				.inner-wrap
					flex-direction: column-reverse

					.description
						width: 100%

					.image
						width: 100%
						margin-bottom: 10px