.button
	background: $main
	border: none
	padding: 6px 12px
	font-size: 18px
	color: $white
	border-radius: 3px

	&.reverse
		background: $white
		color: $main
		font-weight: bold

		&:hover
			color: $main

	&:hover
		cursor: pointer
		color: $white
		
@media screen and (max-width: 768px)
	.button
		font-size: 16px
