footer
	background: $text-grey
	padding: 0
	// position: absolute
	bottom: 0
	width: 100%

	.footer-wrap
		p
			width: 100%
			text-align: center
			color: $white


// @media screen and (max-width: 768px)
// 	footer
// 		.footer-wrap
// 			display: block
// 			text-align: center

// 			.location
// 				margin-bottom: 10px

// 			.phone

// 			.social-links
// 				display: none
// 				.social
// 					margin: 0
// 					margin-top: 10px
// 					justify-content: center
// 					width: 100%
// 					margin-right: 15px
// 					float: initial

// 					&:last-child
// 						margin-right: 0

// @media screen and (min-width: 769px) and (max-width:992px)
// 	footer
// 		.footer-wrap
// 			.links
// 				display: none
