form
	display: -webkit-box
	padding: 35px 0

	&.white
		input, textarea
			border-color: $white
			color: $white
			background: none

			&::placeholder
				color: $white

	input, textarea, select
		width: 100%
		background: none
		border: 3px solid $white
		border-left: 0
		border-top: 0
		border-right: 0
		font-size: 18px
		color: $white
		padding: 6px 0px
		margin-bottom: 20px
		box-sizing: border-box
		font-family: 'Roboto', sans-serif

		option
			width: 100%

		&::placeholder
			color: $white

		&:focus
    		outline: none