.template-services-yes, .template-services-no
	.header .navigation .mobile .services-only
		display: initial
		margin-right: 18px

.header 
	// background-color: rgb(226, 237, 246)
	position: absolute
	width: 100%
	z-index: 2
	top: 0
	background: $white

	.navigation
		padding: 10px 0
		display: flex
		align-items: center
		justify-content: space-between

		.logo
			a
				display: flex
				align-items: center

				img
					max-width: 300px

					&.mobile-only
						width: 40px

		.links
			display: flex

			li
				margin-right: 40px
				position: relative

				&:last-child
					margin-right: 0

				a
					color: $main-black
					font-size: 20px
					font-family: "Raleway", sans-serif
					font-weight: bold

					&:hover
						color: $main

		.mobile
			i
				color: $main-black

@media screen and (max-width: 768px)
	.header
		background: none
		.navigation
			padding: 6px 0
			justify-content: flex-end
			
@media screen and (min-width: 769px) and (max-width:992px)
	.header
		background: none
		.navigation
			padding: 6px 0
			justify-content: flex-end