{% set p = page.find('/globals')  %}
<header class="header header-default white">
	<div class="wrapper wrapper-default">
		<nav class="navigation">
			<div class="logo desktop-only">
				<a href="/">
					<img src="{{url("theme://images/logo.png")}}">
				</a>
			</div>
			<nav class="desktop-only">
				<ul class="links">
					<li><a href="/industries">Industries</a></li>
					<li>
						<a href="/invest">Invest in Ethiopia</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
			<nav class="mobile-only tablet-only">
				<ul class="mobile">
					<li>
						<a class="toggle-btn" data-select=".mobile-panel">
							<i class="fa fa-bars" aria-hidden="true" style="font-size: 25px;"></i>
						</a>
					</li>
				</ul>
			</nav>
		</nav>
	</div>
	{% include 'partials/mobile-panel.html.twig'%}
</header>
