<div class="mobile-panel mobile--only tablet--only">
	<ul class="links">
		<li><a href="/services">Industries</a></li>
		<li><a href="/invest">Inves in Euthiopia</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>